<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.igortarasenko.AlfredGPT</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0CA0B91D-0FC7-416F-8A98-1C928BC18D24</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73447CCA-D352-4D03-8050-A7F2E60BE92C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17830C22-950B-47AE-9D67-3301D7EC0F70</key>
		<array/>
		<key>28437BFA-CBA3-4820-88BC-68B33D4C9C2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73447CCA-D352-4D03-8050-A7F2E60BE92C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68CB0597-00CE-4EAD-AD44-60FEC1C2CB66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17830C22-950B-47AE-9D67-3301D7EC0F70</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>188F1941-C91A-4E8A-8360-25175205DEEE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7BA44994-91B5-46B0-816B-2F81CAB0D49B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>006A355A-0FD0-4749-8238-4429581CC49C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73447CCA-D352-4D03-8050-A7F2E60BE92C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F842591-48D1-4C67-A60F-7FF5E4A2C2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7BA44994-91B5-46B0-816B-2F81CAB0D49B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFBDA021-4E89-4ED6-997E-DDA58C1F600B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7F842591-48D1-4C67-A60F-7FF5E4A2C2E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>68CB0597-00CE-4EAD-AD44-60FEC1C2CB66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Igor Tarasenko</string>
	<key>description</key>
	<string>Alfred workflow for generating completion using OpenAI Completion API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredGPT</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>gpt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>GPT</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0CA0B91D-0FC7-416F-8A98-1C928BC18D24</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>17830C22-950B-47AE-9D67-3301D7EC0F70</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>CFBDA021-4E89-4ED6-997E-DDA58C1F600B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/sh

export OPENAI_API_KEY=""
python3 alfred.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>main.sh</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7F842591-48D1-4C67-A60F-7FF5E4A2C2E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^Error</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>188F1941-C91A-4E8A-8360-25175205DEEE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>result</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>68CB0597-00CE-4EAD-AD44-60FEC1C2CB66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>prompt</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>73447CCA-D352-4D03-8050-A7F2E60BE92C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>7BA44994-91B5-46B0-816B-2F81CAB0D49B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Tink</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>006A355A-0FD0-4749-8238-4429581CC49C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>text</key>
				<string>GPT</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>28437BFA-CBA3-4820-88BC-68B33D4C9C2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred workflow for generating completion using OpenAI Completion API</string>
	<key>uidata</key>
	<dict>
		<key>006A355A-0FD0-4749-8238-4429581CC49C</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>0CA0B91D-0FC7-416F-8A98-1C928BC18D24</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>17830C22-950B-47AE-9D67-3301D7EC0F70</key>
		<dict>
			<key>xpos</key>
			<real>640</real>
			<key>ypos</key>
			<real>110</real>
		</dict>
		<key>28437BFA-CBA3-4820-88BC-68B33D4C9C2C</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>68CB0597-00CE-4EAD-AD44-60FEC1C2CB66</key>
		<dict>
			<key>xpos</key>
			<real>540</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>73447CCA-D352-4D03-8050-A7F2E60BE92C</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>7BA44994-91B5-46B0-816B-2F81CAB0D49B</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>7F842591-48D1-4C67-A60F-7FF5E4A2C2E0</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>CFBDA021-4E89-4ED6-997E-DDA58C1F600B</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>igortarasenko.me</string>
</dict>
</plist>
